@import 'bootstrap/dist/css/bootstrap';

body table {
  margin: 0 auto;
}

button {
  height: 30em;
  width: 30em;
  border-radius: 200px;
  background: red;
}

.attentionButton {
  margin-top: 50px;
}

form div {
  margin: 0 auto;
}

.nav-link {
  float: left;
}
