<nav class="navbar">
	<ul class="myNav">
		<li id="nav-item"><%= link_to 'Home', root_path, { :class=>"navbar-brand nav-a" } %></li>
		<li id="nav-item"><%= link_to 'Site Requests', requests_path, { :class=>"nav-link nav-a" } %></li>
	</ul>
</nav>